* {
  font-family: "Jetbrains Mono NerdFont";
  font-weight: bold;
}

#waybar {
  background: rgba(10, 10, 10, 0.7);
  border-radius: 5px;
}

#clock {
  color: #fff;
}

#tray {
  padding-left: 4px;
}

#workspaces button.active {
  color: #209bc0;
}

#workspaces button:hover,
#workspaces button:focus,
#workspaces button:active {
  color: #209bc0;
  transition: none;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
}


#window {
  color: #fff;
}

#network {
  color: #3b82f6;
  margin-right: 16px;
}

#pulseaudio {
  color: #14b8a6;
  margin-right: 8px;
}

#cpu {
  color: #0ea5e9;
  margin-right: 8px;
}

#temperature {
  color: #eab308;
  margin-right: 8px;
}

#memory {
  color: #d946ef;
  margin-right: 8px;
}

#battery {
  color: #fff;
  margin-right: 8px;
}

#custom-bluetooth {
    color: #3b82f6; /* blue tone */
    margin-right: 8px;
}

#custom-nowplaying {
    border-radius: 8px;
    padding: 2px 6px;
    margin-right: 8px;
    margin-left: 8px;
    color: #757575;
    font-weight: 500;
}

/*
#custom-powermenu {
  color: #f43f5e;
}
*/
